<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> styles}}
  {{#block "extraStyles"}}{{/block}}
  <title>
    {{#block "pageTitle"}}
      Todo App
    {{/block}}
  </title>
</head>
<body class="{{#block "bodyClass"}}{{/block}}">
<main class="{{#block "mainClass"}}{{/block}}">
  {{#block "mainContent"}}{{/block}}
  {{> scripts}}
  {{#block "extraScripts"}}{{/block}}
</main>
</body>
</html>
